---
title: A website from scratch with Node.js
---

<div>
  <div>
    <div class="row">
        <div class="small-6  columns">
          <div class="panel">
              {{sample.lorem-small}}</div>
          </div>
        <div class="small-6 columns">
          <div class="panel">
              {{sample.lorem-large}}</div>
          </div>
        </div>
  </div>
</div>
